In [1]:
import pandas
import json

In [2]:
json_db = json.load(open('db.json'))
json_db

{'surveys': [{'id': 1, 'q1': None, 'q2': None, 'q3': None},
  {'id': 2, 'q1': 1, 'q2': 'Front-end', 'q3': 'eCharts'},
  {'id': 3, 'q1': -1, 'q2': 'Front-End', 'q3': 'jQuery'},
  {'id': 4, 'q1': -1, 'q2': 'Front-end', 'q3': 'eCharts'},
  {'id': 5, 'q1': None, 'q2': None, 'q3': None},
  {'id': 6, 'q1': None, 'q2': None, 'q3': None},
  {'id': 7, 'q1': None, 'q2': None, 'q3': None},
  {'id': 8, 'q1': None, 'q2': None, 'q3': None},
  {'id': 9, 'q1': None, 'q2': None, 'q3': None},
  {'id': 10, 'q1': None, 'q2': None, 'q3': None}]}

In [3]:
df_surveys = pandas.DataFrame(json_db['surveys'])
df_surveys

   id   q1         q2       q3
0   1  NaN       None     None
1   2  1.0  Front-end  eCharts
2   3 -1.0  Front-End   jQuery
3   4 -1.0  Front-end  eCharts
4   5  NaN       None     None
5   6  NaN       None     None
6   7  NaN       None     None
7   8  NaN       None     None
8   9  NaN       None     None
9  10  NaN       None     None

In [4]:
df_surveys.describe()

             id        q1
count  10.00000  3.000000
mean    5.50000 -0.333333
std     3.02765  1.154701
min     1.00000 -1.000000
25%     3.25000 -1.000000
50%     5.50000 -1.000000
75%     7.75000  0.000000
max    10.00000  1.000000

In [5]:
df_surveys['q1'].value_counts()

-1.0    2
 1.0    1
Name: q1, dtype: int64

In [6]:
df_surveys['q2'].value_counts()

Front-end    2
Front-End    1
Name: q2, dtype: int64

In [7]:
df_surveys['q3'].value_counts()

eCharts    2
jQuery     1
Name: q3, dtype: int64